<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Coming Soon - Feature Update</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body class="comingsoon">
  <div class="container">
    <header class="header">
      <h1>Coming Soon</h1>
    </header>
    <div class="coming-content">
      <p>The feature is coming soon. Stay tuned and follow the project for updates!</p>
      <div class="button-group">
        <a href="https://github.com/xdvae/File-Converter-App" class="menu-btn" target="_blank">
          Follow on GitHub
        </a>
        <a href="/" class="menu-btn">
          Back to Home
        </a>
      </div>
    </div>
  </div>
</body>
</html>
