<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>File Converter - Get Data</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body class="getdata">
  <div class="container">
    <header class="header">
      <h1>File Converter</h1>
    </header>
    
    <h2 class="type_func">{{ func_type }}</h2>

    <div class="form-container">
      <form method="post" enctype="multipart/form-data">
        <label for="name">Enter a name for your file:</label>
        <input type="text" id="name" name="name" placeholder="Eg. John_document" class="input-field" required>
        
        <label for="file">Select {{ file_type }} to upload:</label>
        <input type="file" name="file" id="file" class="file-input" required multiple>

        <button type="submit" class="menu-btn">Upload</button>
      </form>
    </div>
  </div>
  <h3 id="drop" style="display: none;">{{drag_n_drop}}</h3>
<script>
    const drop = document.getElementById("drop").textContent;
    
</script>
</body>
</html>
